<tr class="row">
    <th scope="row" class="col-lg-5 d-flex justify-content-center"><h5>@Model.Number</h5></th>
    <td class="col-lg-2 d-flex justify-content-center"><h5>@Model.Description</h5></td>
    <td class="col-lg-2 d-flex justify-content-center"><h5>@Model.Weight</h5></td>
    <td class="col-lg-2 d-flex justify-content-center"><h5>@Model.EstimatedDeliveryDate</h5></td>
    <td class="col-lg-2 d-flex justify-content-center"><h5>@Model.Recipient</h5></td>
    <td class="col-lg-1 d-flex justify-content-center">
        <a href="/packages/deliver?id=@Model.Id" class="btn bg-panda text-white">Deliver</a>
    </td>
</tr>