<h1>Login</h1>
<form action="/Users/Login" method="post" accept-charset="utf-8" id="formLog" name="formLogin">
    <fieldset>
        <p>
            <label for="username">Username&nbsp;/&nbsp;E-mail:</label>
            <input type="text" id="username" name="username" required />
        </p>
        <p>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required />
        </p>
        <br />
        <p>
            <input type="submit" value="Login" />
        </p>
    </fieldset>
</form>