<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Index</title>
</head>
<body>
    <div style="font-weight: bold">
        <div style="margin-bottom: -0.4rem; padding: 0;">&#9582;&nbsp;&nbsp;&#9523;&nbsp;&#9487;&#9473;&#9582;&nbsp;&#9491;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#9582;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#9487;&#9473;&#9582;&nbsp;&nbsp;&nbsp;&nbsp;&#9487;&#9582;&#9581;&#9491;&nbsp;&nbsp;&#9582;&nbsp;&#9581;&nbsp;&#9581;&#9473;&#9491;</div>
        <div style="margin-bottom: -0.4rem; padding: 0;">&#9507;&#9472;&#9515;&nbsp;&#9500;&#9473;&nbsp;&nbsp;&nbsp;&#9474;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#9475;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#9475;&nbsp;&nbsp;&#9475;&nbsp;&nbsp;&nbsp;&nbsp;&#9475;&#9495;&#9583;&#9474;&nbsp;&nbsp;&#9475;&#9475;&nbsp;&#9475;</div>
        <div style="padding: 0;">&#9499;&nbsp;&nbsp;&#9584;&nbsp;&#9495;&#9473;&#9499;&nbsp;&#9495;&#9473;&#9583;&nbsp;&#9584;&#9473;&#9499;&nbsp;&#9584;&#9473;&#9499;&#9490;&nbsp;&#9583;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#9531;&nbsp;&nbsp;&#9584;&#9583;&nbsp;&#9584;&#9473;&#9583;</div>
    </div>
</body>
</html>